node-red-flows/03112017/flow-app-subscriptions.json
[{"id":"b475af37.3952f","type":"mqtt in","z":"481e3906.3f9b18","name":"Motion","topic":"/plugfest/sensors/Motion","qos":"0","broker":"60b4e50f.b0e7ac","x":110,"y":100,"wires":[["27a185b6.9bbd8a","1a5715b9.cff8ea","9596b148.157f7"]]},{"id":"27a185b6.9bbd8a","type":"debug","z":"481e3906.3f9b18","name":"","active":false,"console":"false","complete":"false","x":170,"y":180,"wires":[]},{"id":"1a5715b9.cff8ea","type":"function","z":"481e3906.3f9b18","name":"Extract Value","func":"var sensorvalue = msg.payload.split(\" \")[8];\nvar sensortype = msg.payload.split(\" \")[7];\nvar sensorunits = msg.payload.split(\" \")[9];\nif (sensorvalue == 1) sensorvalue = true;\nelse sensorvalue = false;\nvar newmsg = {};\nnewmsg.payload = sensorvalue;\nnewmsg.sensortype = sensortype;\nnewmsg.sensorunits = sensorunits;\n\ncontext.flow.value = sensorvalue;\ncontext.flow.units = sensorunits;\ncontext.flow.type = sensortype;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["238f5de5.a1e412"]]},{"id":"9596b148.157f7","type":"function","z":"481e3906.3f9b18","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[[]]},{"id":"1d3bbd40.4360c3","type":"http in","z":"481e3906.3f9b18","name":"/3300/2/","url":"/3300/2/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["e1c6f8c9.5130e8"]]},{"id":"e1c6f8c9.5130e8","type":"function","z":"481e3906.3f9b18","name":"insert values","func":"msg.payload.value=context.flow.value;\nmsg.payload.type=context.flow.type;\nmsg.payload.units=context.flow.units;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["83fecc8f.9b8e1"]]},{"id":"83fecc8f.9b8e1","type":"template","z":"481e3906.3f9b18","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/2/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"vb\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"Detected\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"Motion\"\n  }\n]","output":"str","x":530,"y":340,"wires":[["210a7a8d.d62966"]]},{"id":"210a7a8d.d62966","type":"http response","z":"481e3906.3f9b18","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":730,"y":340,"wires":[]},{"id":"2352c283.20c21e","type":"debug","z":"481e3906.3f9b18","name":"","active":true,"console":"false","complete":"false","x":595.5,"y":160,"wires":[]},{"id":"238f5de5.a1e412","type":"function","z":"481e3906.3f9b18","name":"insert value","func":"var newmsg = {};\nnewmsg.payload = {};\nnewmsg.payload.value=msg.payload;\nnewmsg.payload.ts=Date.now();\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["3b846762.f7f138"]]},{"id":"3b846762.f7f138","type":"template","z":"481e3906.3f9b18","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/2/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"vb\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"Detected\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"Motion\"\n  }\n]","output":"str","x":530,"y":220,"wires":[["1e768643.80c30a","2352c283.20c21e"]]},{"id":"1e768643.80c30a","type":"mqtt out","z":"481e3906.3f9b18","name":"subscriptions","topic":"/plugfest/subscriptions/Motion","qos":"","retain":"","broker":"60b4e50f.b0e7ac","x":720,"y":220,"wires":[]},{"id":"60b4e50f.b0e7ac","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]