node-red-flows/03112017/flow.serial.js
[{"id":"52089f62.466c9","type":"serial in","z":"12c48ff3.78237","name":"PM1.0","serial":"c028d6e8.e90ee8","x":110,"y":140,"wires":[["63785801.7ef768","e58d0c80.935fa"]]},{"id":"e8b44f05.93b03","type":"file","z":"12c48ff3.78237","name":"log","filename":"/home/mjk/sensorlog/PM1.0","appendNewline":false,"createDir":true,"overwriteFile":"false","x":263,"y":199,"wires":[]},{"id":"63785801.7ef768","type":"function","z":"12c48ff3.78237","name":"TimeStamp","func":"msg.payload = new Date().toUTCString() + ' : ' + msg.payload;\nreturn msg\n","outputs":1,"noerr":0,"x":259.5,"y":141,"wires":[["e8b44f05.93b03","1d04e16d.a2370f","cb3bd957.31a738","1bc007a3.4c91c8"]]},{"id":"9ce460c4.a7a06","type":"ui_chart","z":"12c48ff3.78237","name":"chart","group":"39e5b677.d416ca","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":765.5,"y":281,"wires":[[],[]]},{"id":"56d45cc.33de6a4","type":"ui_gauge","z":"12c48ff3.78237","name":"gauge","group":"39e5b677.d416ca","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":765.5,"y":236,"wires":[]},{"id":"1d04e16d.a2370f","type":"function","z":"12c48ff3.78237","name":"Extract Value","func":"msg.payload = msg.payload.split(\" \")[9];\nif (msg.payload >= 8000) msg.payload=7999.99;\ncontext.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":194,"wires":[["4d5f2e51.d8c2","e13e78d1.62c9a8"]]},{"id":"4d5f2e51.d8c2","type":"smooth","z":"12c48ff3.78237","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":604,"y":235,"wires":[["9ce460c4.a7a06","56d45cc.33de6a4","fd76688d.86a688"]]},{"id":"e58d0c80.935fa","type":"debug","z":"12c48ff3.78237","name":"","active":true,"console":"false","complete":"false","x":243,"y":239,"wires":[]},{"id":"cb3bd957.31a738","type":"mqtt out","z":"12c48ff3.78237","name":"mqtt://0m2m.net/test/PM2.5","topic":"/test/PM2.5","qos":"","retain":"true","broker":"d0e0be0.194a94","x":693,"y":79,"wires":[]},{"id":"10d8681.198c698","type":"ui_gauge","z":"12c48ff3.78237","name":"gauge","group":"39e5b677.d416ca","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":765,"y":193,"wires":[]},{"id":"e13e78d1.62c9a8","type":"smooth","z":"12c48ff3.78237","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":602,"y":194,"wires":[["10d8681.198c698"]]},{"id":"fd76688d.86a688","type":"function","z":"12c48ff3.78237","name":"update value","func":"context.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":299,"wires":[[]]},{"id":"2d649c1.0bf2a64","type":"http in","z":"12c48ff3.78237","name":"/3300/0/","url":"/3300/0/","method":"get","upload":false,"swaggerDoc":"","x":113,"y":339,"wires":[["6b93568d.8050c8"]]},{"id":"8ee0f5f4.d07da8","type":"http response","z":"12c48ff3.78237","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":763,"y":339,"wires":[]},{"id":"c403494c.e0d1b8","type":"template","z":"12c48ff3.78237","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.PM25}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":603,"y":339,"wires":[["8ee0f5f4.d07da8"]]},{"id":"6b93568d.8050c8","type":"function","z":"12c48ff3.78237","name":"insert values","func":"msg.payload.PM25=context.flow.PM25;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":339,"wires":[["c403494c.e0d1b8"]]},{"id":"54bb1f9f.a0e6b","type":"ui_text","z":"12c48ff3.78237","group":"39e5b677.d416ca","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":743,"y":139,"wires":[]},{"id":"1bc007a3.4c91c8","type":"function","z":"12c48ff3.78237","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":139,"wires":[["54bb1f9f.a0e6b"]]},{"id":"c028d6e8.e90ee8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"39e5b677.d416ca","type":"ui_group","z":"","name":"PM2.5 Monitor","tab":"b64da1ef.7b51a","disp":true,"width":"6"},{"id":"d0e0be0.194a94","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b64da1ef.7b51a","type":"ui_tab","z":"","name":"PM2.5","icon":"dashboard"}]flow