node-red-flows/03112017/flow-app-light-remote.json
[{"id":"4349c073.6de38","type":"debug","z":"7bb25a34.83bbf4","name":"","active":false,"console":"false","complete":"false","x":410,"y":440,"wires":[]},{"id":"cae91916.1b8128","type":"http in","z":"7bb25a34.83bbf4","name":"GET light state","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["ed164a9c.40eb38"]]},{"id":"c6840682.b38938","type":"http response","z":"7bb25a34.83bbf4","name":"OK","statusCode":"200","headers":{"content-type":"application/json"},"x":720,"y":160,"wires":[]},{"id":"1f5adce.ce10a23","type":"function","z":"7bb25a34.83bbf4","name":"save state","func":"context.flow.lightstate = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[[]]},{"id":"ed164a9c.40eb38","type":"function","z":"7bb25a34.83bbf4","name":"insert state","func":"msg.payload = context.flow.lightstate\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["c6840682.b38938"]]},{"id":"dec4705f.fb203","type":"http in","z":"7bb25a34.83bbf4","name":"POST light state","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["e51a3e25.2c9d3","fc30f82a.acd028","79391858.e43638"]]},{"id":"e51a3e25.2c9d3","type":"http response","z":"7bb25a34.83bbf4","name":"OK","statusCode":"200","headers":{},"x":720,"y":220,"wires":[]},{"id":"fc30f82a.acd028","type":"mqtt out","z":"7bb25a34.83bbf4","name":"/plugfest/light/command","topic":"/plugfest/light/command","qos":"","retain":"","broker":"ab4f0808.b2b088","x":670,"y":280,"wires":[]},{"id":"38bed7bd.4152b8","type":"mqtt in","z":"7bb25a34.83bbf4","name":"/plugfest/light/state","topic":"/plugfest/light/state","qos":"0","broker":"ab4f0808.b2b088","x":170,"y":360,"wires":[["1f5adce.ce10a23","4349c073.6de38"]]},{"id":"79391858.e43638","type":"debug","z":"7bb25a34.83bbf4","name":"","active":true,"console":"false","complete":"false","x":310,"y":280,"wires":[]},{"id":"ab4f0808.b2b088","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]