node-red-flows/03112017/flow-app-light.json
[{"id":"67fbd539.5d99dc","type":"node-hue-out","z":"7b2f97cc.4b31e8","server":"80656103.0a179","lightID":"light23","name":"color lamp","x":140,"y":400,"wires":[["fd7034a2.60c118","fc7dfb95.7fb1f8"]]},{"id":"ff4213e5.b8031","type":"node-hue-in","z":"7b2f97cc.4b31e8","server":"80656103.0a179","lightID":"light23","name":"color lamp","x":690,"y":300,"wires":[]},{"id":"fd7034a2.60c118","type":"debug","z":"7b2f97cc.4b31e8","name":"","active":true,"console":"false","complete":"false","x":284.5,"y":480,"wires":[]},{"id":"405c8e4a.ab709","type":"http in","z":"7b2f97cc.4b31e8","name":"GET light state","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["3eefe21a.5343ee"]]},{"id":"b4105999.6b37e8","type":"http response","z":"7b2f97cc.4b31e8","name":"OK","statusCode":"200","headers":{"content-type":"application/json"},"x":710,"y":200,"wires":[]},{"id":"fc7dfb95.7fb1f8","type":"function","z":"7b2f97cc.4b31e8","name":"save state","func":"context.flow.lightstate = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":384.5,"y":400,"wires":[[]]},{"id":"3eefe21a.5343ee","type":"function","z":"7b2f97cc.4b31e8","name":"insert state","func":"msg.payload = context.flow.lightstate\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["b4105999.6b37e8"]]},{"id":"4bca2f8e.7379d","type":"http in","z":"7b2f97cc.4b31e8","name":"POST light state","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["a42cff52.1e9a2","ff4213e5.b8031"]]},{"id":"a42cff52.1e9a2","type":"http response","z":"7b2f97cc.4b31e8","name":"OK","statusCode":"200","headers":{},"x":710,"y":260,"wires":[]},{"id":"80656103.0a179","type":"node-hue-bridge","z":"","name":"Hue Bridge","address":"192.168.1.220","key":"b5q6DpQiIp6lAbc4TTv4PNd0w7pPJyrDfV0tBx9m","interval":"5000"}]