node-red-flows/03112017/flow-app.json
[{"id":"3c903154.f9b43e","type":"file","z":"a378306b.def18","name":"log","filename":"/home/mjk/sensorlog/PM1.0","appendNewline":false,"createDir":true,"overwriteFile":"false","x":230,"y":160,"wires":[]},{"id":"86616364.147a1","type":"ui_chart","z":"a378306b.def18","name":"chart","group":"85895567.132a88","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":240,"wires":[[],[]]},{"id":"968fd75e.6ee1f8","type":"ui_gauge","z":"a378306b.def18","name":"gauge","group":"85895567.132a88","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":770,"y":200,"wires":[]},{"id":"1e5d3a4.f43bec6","type":"smooth","z":"a378306b.def18","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":600,"y":200,"wires":[["86616364.147a1","968fd75e.6ee1f8"]]},{"id":"6f642433.1eb8dc","type":"debug","z":"a378306b.def18","name":"","active":false,"console":"false","complete":"false","x":250,"y":200,"wires":[]},{"id":"cf6ed33.9768c3","type":"http in","z":"a378306b.def18","name":"/3300/1/","url":"/3300/1/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["fd213b6a.119048"]]},{"id":"92c41451.21b2c8","type":"http response","z":"a378306b.def18","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":770,"y":300,"wires":[]},{"id":"8a19f419.6b3788","type":"ui_gauge","z":"a378306b.def18","name":"gauge","group":"85895567.132a88","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":770,"y":160,"wires":[]},{"id":"566eb740.b8a9d8","type":"smooth","z":"a378306b.def18","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":600,"y":160,"wires":[["8a19f419.6b3788"]]},{"id":"9cdf3895.9a27c8","type":"mqtt in","z":"a378306b.def18","name":"mqtt://0m2m.net/plugfest/sensors/PM2.5","topic":"/plugfest/sensors/PM2.5","qos":"0","broker":"7089d60.f30082c","x":180,"y":100,"wires":[["3c903154.f9b43e","6f642433.1eb8dc","dd50e1dd.425bf","a278112f.71046"]]},{"id":"620e7193.ded4e","type":"ui_text","z":"a378306b.def18","group":"85895567.132a88","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":750,"y":100,"wires":[]},{"id":"dd50e1dd.425bf","type":"function","z":"a378306b.def18","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["620e7193.ded4e"]]},{"id":"9e13024a.c0c0b","type":"template","z":"a378306b.def18","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/1/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.PM25}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":610,"y":300,"wires":[["92c41451.21b2c8"]]},{"id":"a278112f.71046","type":"function","z":"a378306b.def18","name":"Extract Value","func":"var sensorvalue = msg.payload.split(\" \")[8];\nvar sensortype = msg.payload.split(\" \")[7];\nvar sensorunits = msg.payload.split(\" \")[9];\nif (sensorvalue >= 8000) sensorvalue=7999.99;\nvar newmsg = {};\nnewmsg.payload = sensorvalue;\nnewmsg.sensortype = sensortype;\nnewmsg.sensorunits = sensorunits;\n\ncontext.flow.value = sensorvalue;\ncontext.flow.units = sensorunits;\ncontext.flow.type = sensortype;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["566eb740.b8a9d8","1e5d3a4.f43bec6"]]},{"id":"fd213b6a.119048","type":"function","z":"a378306b.def18","name":"insert values","func":"msg.payload.value=context.flow.value;\nmsg.payload.type=context.flow.type;\nmsg.payload.units=context.flow.units;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["9e13024a.c0c0b"]]},{"id":"85895567.132a88","type":"ui_group","z":"","name":"PM2.5-plugfest","tab":"27aa835d.275dac","disp":true,"width":"6"},{"id":"7089d60.f30082c","type":"mqtt-broker","z":"a378306b.def18","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"27aa835d.275dac","type":"ui_tab","z":"","name":"PM2.5-plugfest","icon":"dashboard","order":2}]