node-red-flows/03112017/flow-app-motion-control.json
[{"id":"d525b578.ecc548","type":"inject","z":"65c06c14.5429c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":170,"y":180,"wires":[[]]},{"id":"25458943.8eddc6","type":"http request","z":"65c06c14.5429c4","name":"poll","method":"GET","ret":"obj","url":"http://192.168.1.151:8000/api/oic/a/motion0?di=0800f07a-178d-48ec-9ddf-d8a941071298","tls":"","x":350,"y":180,"wires":[["b8d1755b.9aac08","1a06179b.428818"]]},{"id":"b8d1755b.9aac08","type":"debug","z":"65c06c14.5429c4","name":"","active":true,"console":"false","complete":"false","x":690,"y":180,"wires":[]},{"id":"b1c749b0.bcc818","type":"http request","z":"65c06c14.5429c4","name":"POST to light","method":"POST","ret":"txt","url":"http://192.168.1.151:8000/api/oic/a/led0mosfet?di=ea16d184-95ad-4af7-bfc9-53e86f55f3a4","tls":"","x":500,"y":300,"wires":[["752a548d.71199c"]]},{"id":"98ade6d0.0ba0d8","type":"inject","z":"65c06c14.5429c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":300,"wires":[["23843d00.7282d4"]]},{"id":"752a548d.71199c","type":"debug","z":"65c06c14.5429c4","name":"","active":false,"console":"false","complete":"false","x":690,"y":300,"wires":[]},{"id":"23843d00.7282d4","type":"function","z":"65c06c14.5429c4","name":"on","func":"msg.payload = {value: true}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["b1c749b0.bcc818"]]},{"id":"a42e34bf.0889f8","type":"function","z":"65c06c14.5429c4","name":"off","func":"msg.payload = {\"value\": false}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["b1c749b0.bcc818"]]},{"id":"69f5d2d3.33c60c","type":"inject","z":"65c06c14.5429c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":380,"wires":[["a42e34bf.0889f8"]]},{"id":"1a06179b.428818","type":"switch","z":"65c06c14.5429c4","name":"on/off","property":"payload.value","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":350,"y":240,"wires":[["23843d00.7282d4"],["a42e34bf.0889f8"]]},{"id":"e8ea02af.95d2","type":"mqtt in","z":"65c06c14.5429c4","name":"Motion subs","topic":"/plugfest/subscriptions/Motion","qos":"0","broker":"5e9b9d67.b3dfd4","x":130,"y":100,"wires":[["f64b8d28.c3177"]]},{"id":"ac6490c6.461e5","type":"function","z":"65c06c14.5429c4","name":"parse senml pack","func":"var pack = msg.payload;\nfor (var item of pack) {\n    if (item.n == \"5700\") {\n      if (item.vb === true)\n        msg.payload = {value:true};\n      else\n        msg.payload = {value:false};\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["1a06179b.428818","32e014be.3729fc"]]},{"id":"32e014be.3729fc","type":"debug","z":"65c06c14.5429c4","name":"","active":true,"console":"false","complete":"false","x":670,"y":100,"wires":[]},{"id":"f64b8d28.c3177","type":"json","z":"65c06c14.5429c4","name":"","pretty":false,"x":290,"y":100,"wires":[["ac6490c6.461e5"]]},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]