node-red-flows/03112017/flow.mqtt.js
[{"id":"f8e2b1ff.d1432","type":"file","z":"c9ab50fa.a50b2","name":"log","filename":"/home/mjk/sensorlog/PM1.0","appendNewline":false,"createDir":true,"overwriteFile":"false","x":210,"y":220,"wires":[]},{"id":"edfb3765.c8a5a8","type":"ui_chart","z":"c9ab50fa.a50b2","name":"chart","group":"e01080af.805fa","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":758.5,"y":304,"wires":[[],[]]},{"id":"16ab09db.aa73f6","type":"ui_gauge","z":"c9ab50fa.a50b2","name":"gauge","group":"e01080af.805fa","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":758.5,"y":260,"wires":[]},{"id":"becec95f.c27588","type":"function","z":"c9ab50fa.a50b2","name":"Extract Value","func":"msg.payload = msg.payload.split(\" \")[9];\nif (msg.payload >= 8000) msg.payload=7999.99;\ncontext.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":215,"wires":[["4c2fbdc0.4f8334","a310c762.47bd08"]]},{"id":"4c2fbdc0.4f8334","type":"smooth","z":"c9ab50fa.a50b2","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":600,"y":260,"wires":[["edfb3765.c8a5a8","16ab09db.aa73f6","d8fcda11.fb99e8"]]},{"id":"f7eded8.f20f71","type":"debug","z":"c9ab50fa.a50b2","name":"","active":false,"console":"false","complete":"false","x":230,"y":260,"wires":[]},{"id":"c12de102.15e9","type":"http in","z":"c9ab50fa.a50b2","name":"/3300/0/","url":"/3300/0/","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["ed8cf48e.f93e98"]]},{"id":"ab2f0280.5863a","type":"http response","z":"c9ab50fa.a50b2","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":750,"y":360,"wires":[]},{"id":"cb2e9f5c.9a481","type":"ui_gauge","z":"c9ab50fa.a50b2","name":"gauge","group":"e01080af.805fa","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":758,"y":215,"wires":[]},{"id":"a310c762.47bd08","type":"smooth","z":"c9ab50fa.a50b2","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":600,"y":215,"wires":[["cb2e9f5c.9a481"]]},{"id":"d8fcda11.fb99e8","type":"function","z":"c9ab50fa.a50b2","name":"update value","func":"context.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[[]]},{"id":"cf117a3e.bea768","type":"mqtt in","z":"c9ab50fa.a50b2","name":"mqtt://0m2m.net/test/PM2.5","topic":"/test/PM2.5","qos":"2","broker":"7ebf0b32.e72e74","x":160,"y":160,"wires":[["becec95f.c27588","f8e2b1ff.d1432","f7eded8.f20f71","e7100913.a29308"]]},{"id":"48ce19d.5a412e8","type":"ui_text","z":"c9ab50fa.a50b2","group":"e01080af.805fa","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":730,"y":160,"wires":[]},{"id":"e7100913.a29308","type":"function","z":"c9ab50fa.a50b2","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["48ce19d.5a412e8"]]},{"id":"20798358.9799dc","type":"template","z":"c9ab50fa.a50b2","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.PM25}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":590,"y":360,"wires":[["ab2f0280.5863a"]]},{"id":"ed8cf48e.f93e98","type":"function","z":"c9ab50fa.a50b2","name":"insert values","func":"msg.payload.PM25=context.flow.PM25;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["20798358.9799dc"]]},{"id":"e01080af.805fa","type":"ui_group","z":"","name":"PM2.5 Monitor","tab":"598403ac.b6b62c","disp":true,"width":"6"},{"id":"7ebf0b32.e72e74","type":"mqtt-broker","z":"c9ab50fa.a50b2","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"598403ac.b6b62c","type":"ui_tab","z":"","name":"PM2.5","icon":"dashboard"}]