node-red-flows/03112017/flow.serial.js
[{"id":"ec475d16.2d23d","type":"serial in","z":"bd502809.c5f608","name":"PM2.5","serial":"14304af7.a00505","x":100,"y":1194,"wires":[["aa1a3c2b.79ded","176e8f3f.af8bf1"]]},{"id":"8b6e3f00.b1651","type":"file","z":"bd502809.c5f608","name":"log","filename":"/home/mjk/sensorlog/PM1.0","appendNewline":false,"createDir":true,"overwriteFile":"false","x":274,"y":1245,"wires":[]},{"id":"aa1a3c2b.79ded","type":"function","z":"bd502809.c5f608","name":"TimeStamp","func":"msg.payload = new Date().toUTCString() + ' : ' + msg.payload;\nreturn msg\n","outputs":1,"noerr":0,"x":249.5,"y":1195,"wires":[["8b6e3f00.b1651","7ce08646.9953c8"]]},{"id":"176e8f3f.af8bf1","type":"debug","z":"bd502809.c5f608","name":"","active":false,"console":"false","complete":"false","x":233,"y":1293,"wires":[]},{"id":"327eb8d8.ae2eb8","type":"mqtt out","z":"bd502809.c5f608","name":"0m2m.net","topic":"","qos":"","retain":"","broker":"29d05109.9def3e","x":635.5,"y":1196,"wires":[]},{"id":"7ce08646.9953c8","type":"function","z":"bd502809.c5f608","name":"Topic","func":"msg.topic=\"/plugfest/sensors/\" + msg.payload.split(\" \")[7];\nreturn msg;","outputs":1,"noerr":0,"x":446.5,"y":1195,"wires":[["327eb8d8.ae2eb8","286aa04e.3e216","7b374441.14690c"]]},{"id":"286aa04e.3e216","type":"mqtt out","z":"bd502809.c5f608","name":"local broker","topic":"","qos":"","retain":"","broker":"5e9b9d67.b3dfd4","x":649.5,"y":1148,"wires":[]},{"id":"7b374441.14690c","type":"debug","z":"bd502809.c5f608","name":"","active":false,"console":"false","complete":"topic","x":663.5,"y":1268,"wires":[]},{"id":"14304af7.a00505","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"29d05109.9def3e","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]