node-red-flows/03112017/flow-app-light.json
[{"id":"67fbd539.5d99dc","type":"node-hue-out","z":"7b2f97cc.4b31e8","server":"80656103.0a179","lightID":"light23","name":"color lamp","x":140,"y":400,"wires":[["fc7dfb95.7fb1f8"]]},{"id":"ff4213e5.b8031","type":"node-hue-in","z":"7b2f97cc.4b31e8","server":"80656103.0a179","lightID":"light23","name":"color lamp","x":690,"y":300,"wires":[]},{"id":"fd7034a2.60c118","type":"debug","z":"7b2f97cc.4b31e8","name":"","active":false,"console":"false","complete":"false","x":550,"y":480,"wires":[]},{"id":"405c8e4a.ab709","type":"http in","z":"7b2f97cc.4b31e8","name":"GET light state","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["3eefe21a.5343ee"]]},{"id":"b4105999.6b37e8","type":"http response","z":"7b2f97cc.4b31e8","name":"OK","statusCode":"200","headers":{"content-type":"application/json"},"x":710,"y":200,"wires":[]},{"id":"fc7dfb95.7fb1f8","type":"function","z":"7b2f97cc.4b31e8","name":"save state","func":"context.flow.lightstate = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["2e3bc42.704e63c","fd7034a2.60c118"]]},{"id":"3eefe21a.5343ee","type":"function","z":"7b2f97cc.4b31e8","name":"insert state","func":"msg.payload = context.flow.lightstate\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["b4105999.6b37e8"]]},{"id":"4bca2f8e.7379d","type":"http in","z":"7b2f97cc.4b31e8","name":"POST light state","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["a42cff52.1e9a2","ff4213e5.b8031","6ce662c8.cbf62c"]]},{"id":"a42cff52.1e9a2","type":"http response","z":"7b2f97cc.4b31e8","name":"OK","statusCode":"200","headers":{},"x":710,"y":260,"wires":[]},{"id":"2e3bc42.704e63c","type":"mqtt out","z":"7b2f97cc.4b31e8","name":"/plugfest/light/state","topic":"/plugfest/light/state","qos":"","retain":"","broker":"29d05109.9def3e","x":670,"y":400,"wires":[]},{"id":"77c712a5.8e7bac","type":"mqtt in","z":"7b2f97cc.4b31e8","name":"/plugfest/light/command","topic":"/plugfest/light/command","qos":"2","broker":"29d05109.9def3e","x":190,"y":320,"wires":[["ff4213e5.b8031","6ce662c8.cbf62c"]]},{"id":"6ce662c8.cbf62c","type":"debug","z":"7b2f97cc.4b31e8","name":"","active":true,"console":"false","complete":"false","x":490,"y":340,"wires":[]},{"id":"80656103.0a179","type":"node-hue-bridge","z":"","name":"Hue Bridge","address":"192.168.1.221","key":"b5q6DpQiIp6lAbc4TTv4PNd0w7pPJyrDfV0tBx9m","interval":"5000"},{"id":"29d05109.9def3e","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]