node-red-flows/03112017/flow-app.js
[{"id":"c8914a32.97e6e8","type":"ui_chart","z":"f1d1baa3.8cadd8","name":"chart","group":"1b2c21f6.c7016e","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":759.5,"y":295,"wires":[[],[]]},{"id":"1dc86a8e.428da5","type":"ui_gauge","z":"f1d1baa3.8cadd8","name":"gauge","group":"1b2c21f6.c7016e","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":759.5,"y":245,"wires":[]},{"id":"89651595.96f678","type":"function","z":"f1d1baa3.8cadd8","name":"Extract Value","func":"msg.payload = msg.payload.split(\" \")[8];\nif (msg.payload >= 8000) msg.payload=7999.99;\ncontext.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":248,"wires":[["32b982b2.ca935e","e4ee169e.b92b08"]]},{"id":"32b982b2.ca935e","type":"smooth","z":"f1d1baa3.8cadd8","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":598,"y":244,"wires":[["c8914a32.97e6e8","1dc86a8e.428da5","812c8006.3b14d"]]},{"id":"8aafb34f.4b425","type":"ui_gauge","z":"f1d1baa3.8cadd8","name":"gauge","group":"1b2c21f6.c7016e","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":759,"y":202,"wires":[]},{"id":"e4ee169e.b92b08","type":"smooth","z":"f1d1baa3.8cadd8","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":596,"y":203,"wires":[["8aafb34f.4b425"]]},{"id":"812c8006.3b14d","type":"function","z":"f1d1baa3.8cadd8","name":"update value","func":"context.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":313,"wires":[[]]},{"id":"c220917.d499e7","type":"http in","z":"f1d1baa3.8cadd8","name":"/3300/0/","url":"/3300/0/","method":"get","upload":false,"swaggerDoc":"","x":107,"y":353,"wires":[["e5c81c36.1f2ef"]]},{"id":"24ce32b3.0f747e","type":"http response","z":"f1d1baa3.8cadd8","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":757,"y":353,"wires":[]},{"id":"e044e87a.f85538","type":"template","z":"f1d1baa3.8cadd8","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.PM25}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":597,"y":353,"wires":[["24ce32b3.0f747e"]]},{"id":"e5c81c36.1f2ef","type":"function","z":"f1d1baa3.8cadd8","name":"insert values","func":"msg.payload.PM25=context.flow.PM25;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":353,"wires":[["e044e87a.f85538"]]},{"id":"9b279122.efb7b","type":"ui_text","z":"f1d1baa3.8cadd8","group":"1b2c21f6.c7016e","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":740,"y":154,"wires":[]},{"id":"97f3de8f.1be15","type":"function","z":"f1d1baa3.8cadd8","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":154,"wires":[["9b279122.efb7b"]]},{"id":"aaf2be8c.ab9b2","type":"mqtt in","z":"f1d1baa3.8cadd8","name":"","topic":"/plugfest/sensors/PM2.5","qos":"2","broker":"5e9b9d67.b3dfd4","x":240.5,"y":153,"wires":[["97f3de8f.1be15","89651595.96f678","238e3a45.604706"]]},{"id":"238e3a45.604706","type":"debug","z":"f1d1baa3.8cadd8","name":"","active":true,"console":"false","complete":"false","x":254.5,"y":228,"wires":[]},{"id":"1b2c21f6.c7016e","type":"ui_group","z":"","name":"PM2.5 Monitor","tab":"df1f8544.914758","disp":true,"width":"6"},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"df1f8544.914758","type":"ui_tab","z":"","name":"PM2.5","icon":"dashboard"}]