node-red-flows/03112017/flow.serial.js
[{"id":"ec475d16.2d23d","type":"serial in","z":"bd502809.c5f608","name":"PM2.5","serial":"14304af7.a00505","x":100,"y":1194,"wires":[["aa1a3c2b.79ded","176e8f3f.af8bf1"]]},{"id":"8b6e3f00.b1651","type":"file","z":"bd502809.c5f608","name":"log","filename":"/home/mjk/sensorlog/PM1.0","appendNewline":false,"createDir":true,"overwriteFile":"false","x":253,"y":1253,"wires":[]},{"id":"aa1a3c2b.79ded","type":"function","z":"bd502809.c5f608","name":"TimeStamp","func":"msg.payload = new Date().toUTCString() + ' : ' + msg.payload;\nreturn msg\n","outputs":1,"noerr":0,"x":249.5,"y":1195,"wires":[["8b6e3f00.b1651","f5e79546.8e3a98","446477ab.453158","604f4e64.e90dc"]]},{"id":"ab50c59a.001f58","type":"ui_chart","z":"bd502809.c5f608","name":"chart","group":"1b2c21f6.c7016e","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":755.5,"y":1335,"wires":[[],[]]},{"id":"145bceae.2dfdd1","type":"ui_gauge","z":"bd502809.c5f608","name":"gauge","group":"1b2c21f6.c7016e","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":755.5,"y":1290,"wires":[]},{"id":"f5e79546.8e3a98","type":"function","z":"bd502809.c5f608","name":"Extract Value","func":"msg.payload = msg.payload.split(\" \")[8];\nif (msg.payload >= 8000) msg.payload=7999.99;\ncontext.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":433,"y":1248,"wires":[["afb12a5f.13bad8","6a7dd1d1.d2eaa"]]},{"id":"afb12a5f.13bad8","type":"smooth","z":"bd502809.c5f608","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":594,"y":1289,"wires":[["ab50c59a.001f58","145bceae.2dfdd1","a27c8ef9.76c32"]]},{"id":"176e8f3f.af8bf1","type":"debug","z":"bd502809.c5f608","name":"","active":true,"console":"false","complete":"false","x":233,"y":1293,"wires":[]},{"id":"446477ab.453158","type":"mqtt out","z":"bd502809.c5f608","name":"mqtt://0m2m.net/plugfest/PM2.5","topic":"/test/PM2.5","qos":"","retain":"true","broker":"5e9b9d67.b3dfd4","x":703,"y":1133,"wires":[]},{"id":"32544deb.a4e1a2","type":"ui_gauge","z":"bd502809.c5f608","name":"gauge","group":"1b2c21f6.c7016e","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":755,"y":1247,"wires":[]},{"id":"6a7dd1d1.d2eaa","type":"smooth","z":"bd502809.c5f608","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":592,"y":1248,"wires":[["32544deb.a4e1a2"]]},{"id":"a27c8ef9.76c32","type":"function","z":"bd502809.c5f608","name":"update value","func":"context.flow.PM25=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":1353,"wires":[[]]},{"id":"b1117b08.1e0248","type":"http in","z":"bd502809.c5f608","name":"/3300/0/","url":"/3300/0/","method":"get","upload":false,"swaggerDoc":"","x":103,"y":1393,"wires":[["30a6dbcd.7f89c4"]]},{"id":"43a8a9c6.fe4a08","type":"http response","z":"bd502809.c5f608","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":753,"y":1393,"wires":[]},{"id":"9d8715cd.0f0c88","type":"template","z":"bd502809.c5f608","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.PM25}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":593,"y":1393,"wires":[["43a8a9c6.fe4a08"]]},{"id":"30a6dbcd.7f89c4","type":"function","z":"bd502809.c5f608","name":"insert values","func":"msg.payload.PM25=context.flow.PM25;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":1393,"wires":[["9d8715cd.0f0c88"]]},{"id":"43595ede.13546","type":"ui_text","z":"bd502809.c5f608","group":"1b2c21f6.c7016e","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":733,"y":1193,"wires":[]},{"id":"604f4e64.e90dc","type":"function","z":"bd502809.c5f608","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":1193,"wires":[["43595ede.13546"]]},{"id":"14304af7.a00505","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1b2c21f6.c7016e","type":"ui_group","z":"","name":"PM2.5 Monitor","tab":"df1f8544.914758","disp":true,"width":"6"},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"df1f8544.914758","type":"ui_tab","z":"","name":"PM2.5","icon":"dashboard"}]